body,
ul,
p,
button,
h1,
h2,
h3,
input {
  padding: 0;
  margin: 0;
  border: 0;
  margin-block-end: 0;
  margin-block-start: 0;
}

button,
button:active {
  outline: none;
}

.header {
  padding: 26px 19.5vw;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: -webkit-fill-available;
  z-index: 1000;
}
.header__upqode_image {
  margin-right: 13px;
  width: 26px;
  height: 26px;
}
.header__upqode_text {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  color: white;
  text-transform: uppercase;
}
.header__menu {
  width: 22.76vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu_link {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}

.activ-link {
  text-decoration: underline;
}

.toggle-lable {
  display: none;
  font-size: 32px;
  text-align: center;
  color: white;
}

#toggle {
  display: none;
}

@media screen and (max-width: 1024px) {
  .toggle-lable {
    display: block;
    cursor: pointer;
  }

  .header__menu {
    display: none;
    text-align: center;
  }
  .header__menu_link {
    display: block;
    line-height: 50px;
  }

  #toggle:checked + .header__menu {
    display: block;
  }
}
.footer {
  background-color: #222222;
  text-align: -webkit-center;
  height: 17.92vw;
  padding: 0 37.24vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.footer__upqode_image {
  margin-right: 13px;
  width: 44px;
  height: 44px;
}
.footer__upqode_text {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 46px;
  line-height: 32px;
  color: #fff;
  text-transform: uppercase;
}
.footer__menu {
  width: 25.52vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__menu_link {
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 3px;
  color: #777;
  text-decoration: none;
  text-transform: uppercase;
}

.license {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #777;
}

.homeContainer {
  position: relative;
}

.homeSlider {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.homeSlider__item {
  position: relative;
  display: block;
  width: inherit;
  height: inherit;
}
.homeSlider__item_content {
  width: 52.5vw;
  position: absolute;
  top: 33.33vh;
  left: 23.75vw;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homeSlider__item_content_header {
  font-size: 90px;
  line-height: 100px;
  text-align: center;
  margin-bottom: 25px;
}
.homeSlider__item_content_text {
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 54px;
  letter-spacing: 0.2px;
}
.homeSlider__item_content_button {
  width: 172px;
  height: 54px;
  background-color: #00a031;
  border-radius: 27px;
  color: #F4FBF6;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.1px;
  cursor: pointer;
}
.homeSlider__button_left {
  height: 44px;
  width: 24px;
  position: absolute;
  top: 44.53vh;
  left: 8.85vw;
  background-image: url(./../images/Vector_left.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 0);
}
.homeSlider__button_left:hover {
  cursor: pointer;
}
.homeSlider__button_right {
  height: 44px;
  width: 24px;
  position: absolute;
  top: 44.53vh;
  left: 91.15vw;
  background-image: url(./../images/Vector_right.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0);
}
.homeSlider__button_right:hover {
  cursor: pointer;
}

.carousel {
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  display: flex;
  transform: translateX();
}

.carousel__dots-container {
  position: absolute;
  bottom: 10.36vh;
  width: 70px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: calc(50vw - 35px);
}

.carousel__dot {
  width: 13px;
  height: 13px;
  background-color: #fff;
  border-radius: 50%;
}

.carousel__dot_active {
  border: 1px solid #00A031;
  border-radius: 50%;
}
.carousel__dot_active > div {
  background-color: #00A031;
  margin: 3px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.team {
  padding: 90px 19.5vw;
  display: flex;
  height: calc(100vh - 180px);
}
.team__container {
  width: 58%;
  height: 534px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.team__member {
  position: relative;
}
.team__member_info {
  position: absolute;
  opacity: 0;
}
.team__member_info_name {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 38px;
  line-height: 51px;
  letter-spacing: 0.4px;
  color: #00A031;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.team__member_info_position {
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #6C6C6C;
  margin-bottom: 40px;
}
.team__member_info_description {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #6C6C6C;
  margin-bottom: 43px;
}
.team__member_active {
  animation: info_appear 1s;
}
.team__member_socials {
  display: flex;
  list-style-position: inside;
}
.team__member_socials li {
  margin-right: 35px;
  color: #D8D8D8;
}
.team__member_socials_link {
  text-decoration: none;
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #6C6C6C;
}
.team__slider {
  height: 130px;
  background-color: #FBFBFB;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.team__slider_button {
  display: flex;
}
.team__slider_button_image {
  width: 91px;
  height: 130px;
  cursor: pointer;
}
.team__slider_button_image > img {
  width: 91px;
  height: 130px;
  position: absolute;
  opacity: 0;
}
.team__slider_button_description_next, .team__slider_button_description_prev {
  padding-top: 36px;
  padding-left: 20px;
}
.team__slider_button_next {
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #00A031;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
.team__slider_button_prev {
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #00A031;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  margin-left: 10px;
}
.team__slider_button_arrow {
  color: #00A031;
}
.team__slider_button_name_next, .team__slider_button_name_prev {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #00A031;
}
.team__photos {
  position: relative;
  width: 42%;
  height: 534px;
}
.team__photos > img {
  position: absolute;
  display: none;
}
.team__photos_first {
  width: 80%;
  height: 100%;
  z-index: 2;
}
.team__photos_second {
  width: 55.2%;
  height: 90%;
  right: 10%;
  top: 5%;
  opacity: 0.5;
  z-index: 1;
}
.team__photos_third {
  opacity: 0.2;
  right: 0;
  top: 10%;
  width: 45%;
  height: 80%;
  z-index: 0;
}
.team__photos_first, .team__photos_second, .team__photos_third {
  display: block !important;
}

.activeImageNext {
  opacity: 1 !important;
}

@keyframes info_appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes changePhoto {
  from {
    z-index: 1;
  }
  to {
    z-index: 2;
  }
}

/*# sourceMappingURL=main.css.map */
